<section class="container">
<h3>Editar Fornecedor</h3>

{{#if mensagem}}
    <p style="color: {{ cor }};">
        {{ mensagem }}
    </p>
{{/if}}

    <form method="POST" action="/editar-fornecedor">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nome</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nike" value="{{ objTransacao.nome }}" name="nome">
        </div>
        <div>
            <label for="exampleFormControlInput1">CNPJ</label>
            <input type="text" class="form-control" id="cnpj" placeholder="XX.XXX.XXX/0001-XX" value="{{ objTransacao.cnpj }}" name="cnpj">
        </div>        
        <div>
            <label for="exampleFormControlInput1">Endereço</label>
            <input type="text" class="form-control" id="endereco" placeholder="Minas Gerais" value="{{ objTransacao.endereco }}" name="endereco">
        </div>
        <div>
            <label for="exampleFormControlInput1">Telefone</label>
            <input type="text" class="form-control" id="telefone" placeholder="(35)3333-3333" value="{{ objTransacao.telefone }}" name="telefone">
        </div>

        <button type="submit" class="btn btn-success" style="margin-top: 20px;">Salvar</button>
        <a class="btn btn-danger" href="/" role="button" style="margin-top: 20px;">Cancelar</a>
        <a class="btn btn-primary" href="/" role="button" style="margin-top: 20px;" id="voltar">Voltar</a>
        <input type="hidden" name="id" value="{{objTransacao.id}}">
    </form>
</section>