<section class="container">
    <h3>Estoque de Tenis</h3>
    {{#if estoques_de_tenis}}
    <div class="row">
        {{#each estoques_de_tenis}}
        <div class="card text-left border my-2 bg-light col-4">
            <img class="card-img-top" src="holder.js/100px180/" alt="">
            <div class="card-body">
                <h4 class="card-title">
                    {{ marca }} - {{{ sexo }}} - {{{ numeracao }}}
                </h4>
                <p class="card-text">
                    <button type="button" class="btn btn-outline-secondary w-100">
                        <a name="" id="" class="btn btn-info w-75" href="" role="button">
                            <p>Quantidade: {{ qtde_unitaria }}</p>
                        </a>
                    </button>
                    <img src="assets/img/{{ marca }}.png" class="img-fluid" alt="">
                </p>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p>Não há estoques cadastrados para serem exibidos!</p>
    {{/if}}
</section>